#home-introduction {
  margin: 5%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  height: fit-content;
}

#home-intro-image {
  width: 35%;
  object-fit: contain;
}

#home-intro-image:hover {
  content: url("../assets/Hover-Image.jpg");
  width: 35%;
  object-fit: contain;
}

p {
  margin: 10px 0px;
}

#home-intro-text {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  border-radius: 1%;
  font-size: 140%;
}

#home-intro-button {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 7px;
  border: none;
  margin-top: 30px;
  margin-right: 50px;
  margin-bottom: 30px;
  float: right;
  color: #000000;
}

#home-ads {
  background-image: url("../assets/Banner.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;

  height: 45vw;
  color: #ffffff;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 40px;
  text-align: center;
}

.catalogue {
  display: flex;
  height: fit-content;
}

.catalogue-item {
  box-shadow: 5px 5px 5px grey;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 25px;
  margin-top: 0px;
  padding: 10px;
  padding-bottom: 20px;
  font-size: 170%;
}

.catalogue-item-image {
  width: 100%;
}

.catalogue-item-name {
  text-align: center;
  margin: 10px;
}

.catalogue-item-button {
  border: none;
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 30px;
}
